# --- SECRETS / KEYS ---
key/
**/*firebase-adminsdk*.json
**/firebase-service-account*.json
**/serviceAccountKey*.json

# Si tu auth-service estaba leyendo el json desde resources, IGUAL ignóralo
auth-service/src/main/resources/*.json

# --- JAVA / MAVEN ---
**/target/
*.log

# --- ANGULAR ---
**/node_modules/
**/dist/
**/.angular/
**/.vite/

# --- IDE ---
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
